node_modules
.DS_Store
dist
lib
*.local
.kilocode
*.tgz
.eslintcache
*.tsbuildinfo
.idea
.history
.accesskey.yml
.pnpm-debug.log
temp
api
www
.windsurfrules
*.d.ts
*.d.ts.map

.claude
.task
.cursor
.cursorrules
coverage
packages/core/DEVELOPMENT_PLAN.md
packages/math/DEVELOPMENT_PLAN.md
DEVELOPMENT_PLAN.md
